<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark mb-4">{{ site.data.settings.blurb }}</p>
<!--        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>-->
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="btn btn-light font-tertiary btn-sm mb-4"><a href="curriculum">Explore Curriculum Materials</a></div>
        <br>
        <div class="btn btn-light font-tertiary btn-sm"><a href="https://mitmedialab.github.io/prg-extension-boilerplate/create/">Create with Blocks!</a></div>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
