<!-- footer -->
<footer class="bg-dark footer-section">
<!--  <div class="section">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-4">-->
<!--          <h5 class="text-light">Email</h5>-->
<!--          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.email }}</p>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <h5 class="text-light">Phone</h5>-->
<!--          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.phone }}</p>-->
<!--        </div>-->
<!--        <div class="col-md-4">-->
<!--          <h5 class="text-light">Address</h5>-->
<!--          <p class="text-white paragraph-lg font-secondary">{{ site.data.settings.address }}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script><br>
      <a href="https://github.com/dancingwithai/dancingwithai.github.io">open source on GitHub</a><br>
      theme by <a href="https://themefisher.com/">themefisher</a></p>
    <center>
      <img src="assets/images/dancing-with-ai/Cc-by-nc_icon.svg.png"/>
      <img style="margin-left: 25px; width: 80px" src= "assets/images/dancing-with-ai/ml-white-logo.png">
    </center>
  </div>
</footer>
<!-- /footer -->
