// Color Variables
$primary-color: #41228e;
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Lato', serif;
$tertiary-font: 'Montserrat';
$icon-font: 'themify';
